[2021-01-25 08:06] SimonBlanke opened #1 ""out-of-memory"-error in initializer with high dimensional search space"
In issue SimonBlanke/Hyperactive#8 a problem was found, where the memory usage can increase rapidly.

The error is located in the "_init_search"-method from the "Search"-class.

On systems with ~12gb of ram an "out-of-memory"-error will occur when searching in a high dimensional (>20) search space.

[2021-02-03 16:11] SimonBlanke opened #2 "API for v1.0.0 of Gradient-Free-Optimizers"
In this issue the progress for the final api-design for Gradient-Free-Optimizers is tracked.

[2021-02-03 16:18] SimonBlanke commented on #2
The current idea is to merge the two arguments "memory" and "memory_warm_start" into one argument "memory".

 - memory is True or False.
 - memory_warm_start is None or a dataframe containing the search-data that gets passed into the memory dictionary

It would not make much sense to set "memory" to False, while passing search-data to  "memory_warm_start". The search-data would not get used.

In t

[2021-02-03 16:21] SimonBlanke commented on #2
The attribute containing the results of the search should be renamed from "results" to "search_data".

[2021-02-05 08:47] SimonBlanke commented on #2
The parameter "warm_start_smbo" of the sequence model based optimizers will accept another data type.
Instead of a tuple of arrays the user can just pass the "search_data" dataframe.

[2021-02-07 07:56] SimonBlanke opened #3 "MemoryError for large search spaces in smb-optimizers"
In SimonBlanke/Hyperactive#10 the user @gr8den reported a memory-error in the _DecisionTreeOptimizer_ for the following search space size (9857, 1620, 1620, 9857).

Error message:
`
MemoryError: Unable to allocate 1.81 PiB for an array with shape (9857, 1620, 1620, 9857) and data type int64
`

This error is expected for the current implementation of sequence-model-based-optimizers. However i will

[2021-02-12 15:31] SimonBlanke opened #4 "Handle np.inf or -np.inf returned by objective function"
This issue is opened because of SimonBlanke/Hyperactive#10.

The user @gr8den reported a problem concerning the case if the objective function returns np.inf or -np.inf.

After I studied those cases I came to the following conclusions:
 - If the score is always -np.inf then GFO will return the very first parameter set as the best, since there was never any improvement of the score during the optim

[2021-02-12 15:34] SimonBlanke commented on #4
The first of the conclusions was solved in 79132df3 by setting the current and best position and score to the newest without checking if the score improved. This is only done in the very first iteration.

[2021-02-14 10:37] SimonBlanke commented on #4
The requirement "GFO must be able to handle np.inf, -np.inf and np.nan" has been solved in a40d0ae693f7a19bd514a8dc86c524982cb5e7b0, be5baa968075beb98dceb5a3742dbc48825600e4 and 330f075ab21d2a8b850f8c68d06ccdd913a4970a. Tests have been added in 11a2b18a600933aeaf80369a87d98c3303ee5b85.

Adding this functionality was more difficult than expected. I had to add positions/score in the search tracker f

[2021-02-23 09:19] SimonBlanke commented on #4
I added tests for nan and inf in the warm_start_smbo parameter in cfe3d992b865568bbd674b560198dff595bc33dd

This should now cover all cases. If i find more cases to test or problems in the future i will reopen this issue.

[2021-02-23 09:19] #4 closed

[2021-02-24 11:55] SimonBlanke opened #5 "Errors when there is only one option for a hyperparameter"
I opened this issue because @mattwedge encountered a problem in SimonBlanke/Hyperactive#16. The sequence model based optimizers cannot handle if a dimension of the search space has a size of 1.

I think this is a feature that is important for all optimizers. It adds to the flexibility of the exploration of the objective function.

The error occurs because in smb-optimizers a list of the combinatio

[2021-02-24 12:42] SimonBlanke commented on #5
I fixed the error in 81de005a08fd271eb22f75dd9cc38991bba7b04b. The fix is available in version 0.2.14 that i just uploaded.
It passed all current tests in Gradient-Free-Optimizers and Hyperactive. So it can be used by just updating Gradient-Free-Optimizers.

I also added tests for this case in commit f054f71836524ff4c6ec56910958d4c043a7f71e.

@mattwedge let me know if this solution works for you.

[2021-02-24 13:02] mattwedge commented on #5
Amazing, thanks a lot for the fast work! Will try this out ASAP

[2021-02-24 13:13] mattwedge commented on #5
Works perfectly :)

[2021-02-24 13:22] SimonBlanke commented on #5
Very good! Thank you again for pointing out this issue. Just let me know if another problem appears.

[2021-02-24 13:22] #5 closed

[2021-03-01 07:45] SimonBlanke opened #6 "Nelder-Mead-/Downhill-simplex- optimiser"
Multiple users requested the Nelder-Mead-/Downhill-simplex- optimiser in this package. This issue will track the process of its implementation and improvement.

[2021-03-01 11:33] SimonBlanke commented on #1
I managed to identify the reason for the error. In the file "init_positions.py" there are two functions with this problem.

They are called:
 - _init_grid_search
 - _init_vertices

They initialize positions at the vertices of the search space hypercube and in a grid.

The reason the memory error occurs is because "np.meshgrid(...)" creates too many possible positions for a large number of dimensio

[2021-03-01 11:39] SimonBlanke opened #7 "Powell's Method optimizer"
Multiple users requested the Powell's Method optimizer in this package. This issue will track the process of its implementation and improvement.

[2021-03-01 11:40] SimonBlanke opened #8 "DIRECT optimizer"
Multiple users requested DIRECT optimizer in this package. This issue will track the process of its implementation and improvement.

[2021-03-02 09:18] SimonBlanke commented on #1
Hello @architrathore,

Yes it would be good to start with `_init_vertices`. Your approach seems good! Remember the following when writing this function:

Those points are just positions in the search spaces (integers), not the values from the search space dictionary. So this dictionary:
[code]
would have the following list of vertex positions:
[code]

And try to stick to the following template for

[2021-03-05 12:06] SimonBlanke commented on #7
From what i have researched so far, Powell's method works in continuous search spaces. This is because of the vectors defined in the beginning, which should follow a straight path.

I will look into variations of this algorithm for discrete search spaces.

[2021-03-05 12:08] SimonBlanke commented on #6
I managed to create a prototype of the downhill simplex optimizer in c8a02a20bd7c1b1f059975df21b9716acf24d60f. I will do additional testing to verify, that the algorithm works correctly.

[2021-03-06 14:59] SimonBlanke commented on #7
There is a variation of Powell's method for discrete search spaces called "evolutionary powell's method", but it seems quite similar to evolution strategy.

I came up with another idea that combines Powell's method and bayesian optimization. It fixes the values of all but one dimension and performs a bayesian optimization on this dimension to get the best position. This position is then fixed, whi

[2021-03-08 06:35] SimonBlanke commented on #3
This issue has been patched in multiple ways:
 - an added optimization parameter "warnings" for all smb-optimizers, which warns the user of the number of positions in the search space is too large: 6fd6414701fddb9e8bb7567deae99071521b7b86
 - an added optimization parameter "sampling" that reduces the number of positions (after they are generated) by random sampling: 807e2b830f278d09915b84ad3cc6a01

[2021-03-08 16:01] SimonBlanke commented on #7
The bayesian powell's method requires some changes in the optimization backend (initializer + random_state) and some minor api changes (moving random_state from .search to Optimizer-class). Therefore bayesian powell's method will be released in version 1.0.0 or later.

[2021-03-08 16:03] SimonBlanke commented on #2
The "random_state" parameter should be moved from the search-method to the optimizer-class as discussed in SimonBlanke/Gradient-Free-Optimizers#7.

[2021-03-09 16:03] djokester commented on #8
Hey @SimonBlanke!
Do you mind if I work on this?
if you have started working on this maybe you can give me something else to work on?

[2021-03-09 16:54] SimonBlanke opened #9 "cleanup warm_start_smbo data"
In the method "init_warm_start_smbo" in [smbo.py](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/gradient_free_optimizers/optimizers/sequence_model/smbo.py) the pandas dataframe is separated into X_sample (parameter) and Y_sample (score). The dataframe should be cleaned from all data that is not within the current search space before passing it. This will improve the optimizat

[2021-03-09 16:59] SimonBlanke opened #10 "Grid search variant"
I think it would be useful to have a grid search optimizer in this package. But its implementation would probably be quite different from other ones (sklearn, ...).

The requirements are:
 - The grid search has to stop after n_iter instead of searching the entire search space
 - The positions should not be precalculated at the beginning of the optimization (i have concerns about memory load).

[2021-03-09 17:18] SimonBlanke commented on #8
Hello @djokester,

you are very welcome to work on this (or another) issue. I have not started working on this algorithm yet. But there are some things you should keep in mind:

Implementing new optimization algorithms is usually quite difficult for other developers because there are some strict requirements to make them work in the same API. Because of this all optimizers have something like a "b

[2021-03-09 17:29] djokester commented on #10
@SimonBlanke let me start with this.

[2021-03-10 06:07] 321HG opened #11 "ValueError: high is out of bounds for int32"
How can I solve this problem, please?
...............

D:\...................\search.py in set_random_seed(nth_process, random_state)
     33
     34     if random_state is None:
---> 35         random_state = np.random.randint(0, high=2 ** 32 - 2)
     36
     37     random.seed(random_state + nth_process)

mtrand.pyx in numpy.random.mtrand.RandomState.randint()

_bounded_integers.pyx in numpy.ra

[2021-03-10 07:29] SimonBlanke commented on #11
Hello @321HG,

i need some additional information to find the problem. Please use the template for the "bug report":

**Describe the bug**

**Code to reproduce the behavior**

**Error message from command line**

**System information:**
 - OS Platform and Distribution
 - Python version
 - Gradient-Free-Optimizers version

**Additional context**

[2021-03-10 21:14] architrathore commented on #11
I've also run into this problem in `set_random_seed`. A quick fix is to pass `dtype=np.int64` to method like so:

[code]
It might also make sense to use a lower range for setting the seed since numpy's int32, which is the default dtype that is used, goes from -2^31 to 2^31.

[2021-03-11 04:41] 321HG commented on #11
Thank you very much.👍👍👍👍

[2021-03-11 04:55] SimonBlanke commented on #11
@321HG and @architrathore what operating system are you using? I am on Ubuntu 20.04 and there were never any problems. If this problem is that common I should fix it quickly. Before that I need a way to reproduce it.

[2021-03-11 05:02] architrathore commented on #11
I am on windows. Running the same code from Windows Subsystem for Linux (WSL2) works fine though.
This seems to be a problem with the Win64 platform, numpy defaults to int32 on windows while it defaults to int64 on Linux.

Relevant StackOverflow thread: https://stackoverflow.com/a/36279549

[2021-03-11 05:06] SimonBlanke commented on #11
@architrathore thank you very much! In this problem: `2 ** 32 - 2 ` i confused the range of uint32 and int32.

[2021-03-11 09:20] SimonBlanke commented on #11
I just released version 3.0.0. This version contains the fix for this issue (as well as several other improvements + fixes).

@architrathore Could you verify, that this issue is fixed in v3.0.0? I do not have access to windows.

[2021-03-17 07:58] SimonBlanke commented on #10
@djokester I would like to give you some guidance for this task:

You can start by creating the class "GridSearch" and inherit both the [BaseOptimizer](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/gradient_free_optimizers/optimizers/base_optimizer.py) and [Search](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/gradient_free_optimizers/search.py). You can

[2021-03-17 08:03] djokester commented on #10
Yeah @SimonBlanke.
Thanks it helps a lot

[2021-03-17 08:05] SimonBlanke commented on #6
I am currently in the process of testing the performance of my implementation of the downhill simplex optimizer for various objective functions/search spaces.

I have encountered a large variation of its performance for a simple convex function. Even after doing a complete reimplementation of the algorithm this variation is still there. I will push the most recent implementation to the "dev"-branc

[2021-03-17 08:12] SimonBlanke commented on #6
With this script you can recreate the problem:

[code]

With the random states in the script you should get the following scores: [0, -2564, -5189, 0, -1]

[2021-05-12 13:22] #11 closed

[2021-05-13 12:55] romanovzky commented on #1
This is a major issue for me. Why can't spaces be defined either through a callable or a distribution (like scipy distributions with rvs methods)? I've found this to be common practice in every other gradient-free and Bayesian optimisation libraries (hyperopt, optuna, scikit-opt, etc).

[2021-05-13 13:45] SimonBlanke commented on #1
Hello @romanovzky,

could you provide a short code snippet as an example for one (or more) of those libraries?

[2021-05-13 17:03] romanovzky commented on #1
Hi @SimonBlanke sure, here are some examples on how these libraries support this.

## SciPy

SciPY defines the most common API for having the distribution as a function from which you can sample at will. This funcitonality is provided by the `rvs` (random variable sample) method, [example](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.rvs.html).

[All the distribut

[2021-05-14 05:14] SimonBlanke commented on #1
Thank you very much @romanovzky for taking your time writing down this overview! From what I read it seams, that your question is about the API-design and continuous- vs- discrete- search spaces. I think it would be better to open up a new issue to discuss this.

[2021-05-14 05:15] SimonBlanke opened #12 "Question about search space design and API"
### This issue is a discussion about a question asked in another issue:

Hi @SimonBlanke sure, here are some examples on how these libraries support this.

## SciPy

SciPY defines the most common API for having the distribution as a function from which you can sample at will. This funcitonality is provided by the `rvs` (random variable sample) method, [example](https://docs.scipy.org/doc/scipy/ref

[2021-05-14 05:49] SimonBlanke commented on #12
After reading this overview thoroughly I still have some questions:

---

What would be the job of those distributions in GFO? Is this about how positions are initialized in the search space or how to sample from a continuous search space or something else? What would be the goal of doing it this other way? Why would this be "better" than the current implementation in GFO?

---

This is about usin

[2021-05-14 08:41] romanovzky commented on #12
So the way that I understand, using distributions from which you can sample would replace the current GFO workflow where you define the search spaces in a discritised manner even if you intend to have a continuous space.

Take the example from the main github page (the README):

[code]
These are 200 possibilities for the value of `x`, not the full interval. For example, it contains `9.8` and `9.9`

[2021-05-14 11:40] SimonBlanke commented on #12
Lets see how GFOs works before continuing:
The search space is defined by creating a D-dimensional search space. Each dimension can have a different length than the others.
For most optimization algorithms we already sample from a distribution (all hill climbing based algos). This can be seen in the "_move_climb"-method in the [hill climbing code](https://github.com/SimonBlanke/Gradient-Free-Optim

[2021-05-14 11:54] romanovzky commented on #12
Probably I agree. I am user of gradient-free optimisers, but I am not a developer (I don't have a working knowledge of most of the algos beyond the high-level description).

Let me ask you a few more things:
- For the SMB case you keep the grid? In that case, wouldn't this bring in curse of dimensionality issues as the vertices of a D-dimensional hypercube are barely representative of its volume?

[2021-05-14 12:57] SimonBlanke commented on #12
Hello @romanovzky,

About your first question:
Yes, currently we have to create a grid for those smbo, but we can currently sample from this grid after it was created. My goal is to do sampling without creating a (potentially large) grid beforehand. I don't understand the rest of your question. How would the vertices be barely representative? Vertices are often selected within the first few iterat

[2021-05-15 08:52] SimonBlanke commented on #3
I reopened this issue because of the sampling feature:

This feature can help in the case when the search space is not so big that it overloads the memory, but large enough to help speed up the .predict-method of the surrogate model via sampling of the position list from the search space.
I am not content with a solution for this special case. The random sampling should also protect against the me

[2021-05-19 09:52] #12 closed

[2021-05-22 06:52] SimonBlanke opened #13 ""warm_start_smbo" does not filter out np.inf"
In the "init_warm_start_smbo"-method of the SMBO-class nan-values are filtered out but np.inf are left in the dataframe. This can cause errors for smb-optimizers if the surrogate model cannot fit to np.inf.

[2021-05-22 08:24] #13 closed

[2021-05-26 05:37] #9 closed

[2021-07-23 08:47] SimonBlanke commented on #10
Hello @djokester,

have you made some progress on the grid search algorithm? If you need some additional assistance I would be happy to help.

[2021-08-02 21:42] djokester commented on #10
@SimonBlanke I have gone through the code base. I will send a PR by this weekend.

[2021-08-04 05:47] SimonBlanke commented on #1
Hello @architrathore,

did you manage to implement the new version of [_init_vertices](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/gradient_free_optimizers/init_positions.py#L91)? If you are stuck I would be happy to help.

The reimplementation of _init_grid_search can wait, since it is ambiguous how to implement it. I will take care of this function.

[2021-08-07 16:17] architrathore commented on #1
Hi @SimonBlanke, apologies but I got side-tracked by other work, but I did have an implementation that worked. I will create a pull request in the next week.

[2021-08-09 11:07] SimonBlanke commented on #10
@djokester a PR would be nice! You can ignore the extended tests (performance, parameters, ...), I will take care of those. If you have a basic concept we can continue from that together.

[2021-08-09 11:16] SimonBlanke commented on #1
@architrathore,
I am glad you were able to take some time for this project. It can be difficult to free up time for open source projects. However I look forward to your pull request.

[2021-08-25 20:51] 0liu opened #14 "Early stopping"
**Describe the bug**
Optimizers in machine learning libraries, such as scikit-learn, usually come with early stopping ability. Instead of running for a fixed number of iterations, the optimization stops when little improvement could be achieved further, set by parameters like `tol`, `max_iter` and `n_iter_no_change`. This saves a lot computation time. It would be great to have this feature in grad

[2021-08-25 21:21] 0liu opened #15 "Integer parameter value changed to floating type"
**Describe the bug**
Integer parameter values defined in search space are changed to floating type during optimization.

**Code to reproduce the behavior**
[code]

**Error message from command line**
```TypeError: 'numpy.float64' object cannot be interpreted as an integer```

**System information:**
 - Ubuntu 21.04
 - Python version: 3.9.4
 - Gradient-Free-Optimizers version: 0.3.2

**Additional c

[2021-08-28 03:29] SimonBlanke commented on #14
The parameter is designed so that you can enable both `tol_`s at the same time. The early stop is triggered if one of both requirements are met.
The feature is ready to go, but I will write some tests to ensure quality before releasing it.

[2021-08-29 06:02] SimonBlanke commented on #14
Done!

I just released v0.3.3 with the new early_stopping-feature. Here is an example:
[code]

[2021-08-29 06:02] #14 closed

[2021-09-06 15:46] 630362055 opened #16 "Whether to support non-numeric variables"
![image](https://user-images.githubusercontent.com/25970108/132240837-ffc3be14-59f3-4f33-b23b-ecef3f16672e.png)
![image](https://user-images.githubusercontent.com/25970108/132240886-f7f4b6b6-a38c-439f-83a6-2da7a5e005b2.png)

[2021-09-06 15:53] 630362055 commented on #16
if i want to optimize string variable, how to do that

[2021-09-07 05:09] SimonBlanke commented on #16
Gradient-Free-Optimizers will not support string variables in the search space in the future, because I want to keep it simple.
For these more complex search spaces I created [Hyperactive](https://github.com/SimonBlanke/Hyperactive), which is built on top of GFO. It provides all optimization algorithms of GFO and expands its capability. You can see how it can handle strings in the search space in

[2021-09-07 05:09] #16 closed

[2021-09-12 07:50] SimonBlanke commented on #15
This issue is reopened because if a related problem in [Hyperactive](https://github.com/SimonBlanke/Hyperactive/issues/34).

The error can be replicated with this example:
[code]

[2021-09-14 09:47] SimonBlanke commented on #15
@0liu,

the fix of the problem in [issue 34 of Hyperactive](https://github.com/SimonBlanke/Hyperactive/issues/34) seems very similar to this problem here, because the GFO [Converter-class](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/gradient_free_optimizers/converter.py) contains very similar methods (position2value, ...). Maybe you could fix the problem in GFO in a pull re

[2021-09-15 13:46] 0liu commented on #15
Yes I can make similar PR for GFO. Allow me a few days delay, maybe next week. Thanks.

[2021-09-27 17:19] SimonBlanke commented on #15
Thanks @0liu for the pull request SimonBlanke/Gradient-Free-Optimizers#17. I wrote some additional fixes in 13821b1a2c4036ebab62dbbf8db23423d4db7982 and moved your tests in d0ef41b5f2327c50e055e8f59c9ba0b749b2e9f6. I also tested these changes against the current Hyperactive API and it all seems to work fine (but I did not test SimonBlanke/Hyperactive#34, yet).

[2021-09-27 17:19] #15 closed

[2021-11-24 12:51] cryptocoinserver commented on #10
@djokester Any news? Thank you for your time!

[2021-11-24 14:01] tgdn commented on #10
@cryptocoinserver we have an open PR #18, let us know what you think!

[2021-11-24 14:46] 23pointsNorth opened #19 "High dimensional search space limit"
**Describe the bug**
When building large search spaces over dimensionality of 32, a [numpy limit is reached](https://github.com/numpy/numpy/issues/5744).

**Code to reproduce the behavior**
[code]

**Error message from command line**
[code]

**System information:**
 - OS Platform and Distribution Ubuntu20.04
 - Python version 3.8
 - Gradient-Free-Optimizers version 0.4.2 (+ main branch tested)

**

[2021-11-24 15:42] SimonBlanke commented on #19
Hello @23pointsNorth,

nice find! I did not know this limitation of numpy.

However it seems, that this issue is related or a duplicate of issue SimonBlanke/Gradient-Free-Optimizers#1, because of this line:

The bug is caused by the calculation of the initial positions as vertices and grids in the search space. I initialized with `random` and the code runs fine:

[code]

I will close this issue fo

[2021-11-24 15:42] #19 closed

[2021-11-30 13:06] SimonBlanke commented on #10
@tgdn and his team @EdouardVilain-Git, @tabeare, @annabieber, @MachineLearner75 provided an implementation of grid-search, which can be used in Gradient-Free-Optimizers >= v0.5.0.

You can read more about it in the [optimization-tutorial](https://github.com/SimonBlanke/optimization-tutorial).

[2021-11-30 13:06] #10 closed

[2021-12-03 15:34] #2 closed

[2021-12-15 19:32] k-aliyah opened #20 "only integer scalar arrays can be converted to a scalar index"
**Describe the bug**
every time going to the 11th iteration there is a bug
**Code to reproduce the behavior**
import numpy as np
from gradient_free_optimizers import EvolutionStrategyOptimizer,ForestOptimizer,OneDimensionalBayesianOptimization
from gradient_free_optimizers import BayesianOptimizer,TreeStructuredParzenEstimators

opt =TreeStructuredParzenEstimators(search_space)
tes=opt.search(mini

[2021-12-16 04:10] SimonBlanke commented on #20
Hello @k-aliyah,

thank you for reporting this bug! :-)
I was not able to reproduce this error. I need the complete code to reproduce this behavior. In your code there is no search space and no objective function.

Also: The `OneDimensionalBayesianOptimization` is an experimental-optimizer, that is not yet officially supported.

[2021-12-20 06:01] beckhamwjc opened #21 "search_space cannot be larger than 32?"
**Describe the bug**
I'm using the ParticleSwarmOptimizer to find the parameters (not hyper-parameters) for a NN. So I first defined a naive NN model with PyTorch and I explicitly set every weight parameters of this NN as a parameter in the search_space of GFO. I took the form as:

`search_space = {

"00": np.arange(-100,100).tolist(),
"01": np.arange(-100,100).tolist(),
...
"48": np.arange(-100,1

[2021-12-21 09:14] k-aliyah commented on #20
thank you very much for your prompt response! I realized it was indeed my objective function that is not compatible with bayesian and TPE, but it was working with ES.

[2021-12-21 09:14] #20 closed

[2021-12-21 19:02] SimonBlanke commented on #21
Hello @beckhamwjc,

this seems like a duplicate of SimonBlanke/Gradient-Free-Optimizers#19. The problem here is probably the same as in SimonBlanke/Gradient-Free-Optimizers#1. But I am not sure, because I cannot reproduce the error without a full example from you.

[2021-12-22 04:55] beckhamwjc commented on #21
Yes, I think the problem I encountered is the same as [#19 ](https://github.com/SimonBlanke/Gradient-Free-Optimizers/issues/19). I managed to make a demonstration of this issue:

import torch
import torch.nn as nn
import numpy as np
from hyperactive import Hyperactive
from hyperactive.optimizers import ParticleSwarmOptimizer

optimizer = ParticleSwarmOptimizer(
    inertia=0.3,
    cognitive_weigh

[2021-12-22 17:36] SimonBlanke commented on #21
Hello @beckhamwjc,

From SimonBlanke/Gradient-Free-Optimizers#1 we know that the initialization via vertices and grid in a high dimensional search space creates this error. This error can be avoided by initializing via random positions:

[code]

Also: make sure the number of initial positions is equal or bigger than the population size.

[2021-12-25 06:04] beckhamwjc commented on #21
Thanks. I introduced the "initialize={"random": 12}" into my ParticleSwarmOptimizer but got a TypeError:
`gradient_free...ParticleSwarmOptimizer( ) got multiple values for keyword argument 'initialize'`

[2021-12-28 09:10] SimonBlanke commented on #21
Hello @beckhamwjc,

I need a small example code that creates the TypeError to help you with this.

[2021-12-31 08:44] beckhamwjc commented on #21
import torch
import torch.nn as nn
import numpy as np
from hyperactive import Hyperactive
from hyperactive.optimizers import ParticleSwarmOptimizer

optimizer = ParticleSwarmOptimizer(
inertia=0.3,
cognitive_weight=0.5,
social_weight=0.5,
temp_weight=0.3,
rand_rest_p=0.05,
population=12,
initialize={"random": 12},
)

def model(opt):
demo = nn.Linear(5,10,bias=False)
demo_para = demo.state_dict()
f

[2022-01-02 10:05] SimonBlanke commented on #21
Hello @beckhamwjc,

thank you for the example code! Without indentation I can only guess how the objective function loops looks like.

The code you provides is not from Gradient-Free-Optimizers, but from Hyperactive. In Hyperactive you pass the `initialize`-parameter to `add_search(...)`. The optimizer-classes in Hyperactive only accepts optimizer-specific-parameters found in the [optimization tut

[2022-01-04 08:20] 23pointsNorth commented on #19
Just wanted to confirm that your suggestion fixed the issue. Thanks for the quick response!

[2022-01-09 22:19] d416 commented on #2
Hi Simon, it appears that "results" is still the go-to method whereas "search_data" returns an error.

I'm using the EvolutionStrategyOptimizer in version 1.04 from pypi (Python 3.9).

`AttributeError: 'EvolutionStrategyOptimizer' object has no attribute 'search_data'`

 Came here for a clue as to what could have gone wrong and saw this commit.  This library is a great thoughtful piece of work Tha

[2022-01-10 04:18] SimonBlanke opened #22 "AttributeError: "Optimizer" object has no attribute 'search_data'"
Hi Simon, it appears that "results" is still the go-to method whereas "search_data" returns an error.

I'm using the EvolutionStrategyOptimizer in version 1.04 from pypi (Python 3.9).

`AttributeError: 'EvolutionStrategyOptimizer' object has no attribute 'search_data'`

 Came here for a clue as to what could have gone wrong and saw this commit.  This library is a great thoughtful piece of work Tha

[2022-01-10 04:21] SimonBlanke commented on #22
Hello @tgdn,

thank you very much for your comment :-)
I opened a separate issue for this, because it sounds like a bug.

Could you give an example script, that I can copy and run to reproduce this error?

[2022-01-15 09:05] SimonBlanke commented on #1
I created a fix for the init-vertices part of the problem. For the init-grid I built in a workaround for dimensions higher than 30 in commit 70604fefd9c61ac79ecd01d793660b32f9d86267. Those fixes are available in v1.0.5.

I will close this issue for now. I think a grid-initialization for more than 30 dimensions is a niche case and should not make a significant difference. If this becomes relevant i

[2022-01-15 09:05] #1 closed

[2022-01-15 09:07] SimonBlanke commented on #19
@23pointsNorth

very nice! I just rolled out v1.0.5, which has a fix/workaround for the "vertices"- and "grid"-initializations.

[2022-01-15 17:12] d416 opened #23 "ImportError: cannot import name 'gcd' from 'fractions'"
**Describe the bug**

In Python 3.9, using gradient_free_optimizers returns ImportError: cannot import name 'gcd' from 'fractions'

**Code to reproduce the behavior**

https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/master/examples/convex_function.py

**Error message from command line**
ImportError: cannot import name 'gcd' from 'fractions'

**System information:**
 - Python 3.9
 - Gr

[2022-01-15 17:20] SimonBlanke commented on #23
Hello @d416,

Thank you for opening this issue. Very interesting find! :-)

From the link you posted I can see that `math.gcd` is the way to go for >= python 3.5.

[2022-01-15 18:04] d416 commented on #22
@SimonBlanke Unable to reproduce - environments must have been mixed up when I wrote the comment.  I think we can close this. Thanks

[2022-01-15 19:18] SimonBlanke commented on #22
@d416

no problem, I'll close it.

[2022-01-15 19:18] #22 closed

[2022-01-16 06:29] SimonBlanke commented on #23
Hello @d416,

I fixed this error in e2e6537e7f9d3d33db8511d400fb284e345d7c13 and added python 3.9 to the testing in a27ec7775a961877dfb7aed7511383e4e4aa01b1. I just released the fix in v1.0.6.

Thank you for contributing to GFO :-)

[2022-01-16 06:29] #23 closed

[2022-01-20 09:45] Wollala opened #24 "RuntimeWarning about np.exp() overflow"
Error msg as below
[code]

[2022-01-24 10:13] SimonBlanke commented on #24
Hello @Wollala,

this is not an error but only a warning that numpy cannot handle the size of the exp-function. The result is `inf`, which does not break the behaviour of the simulated annealing optimizer. The occurrence of this warning is expected during normal operation. If the warnings clutter your command-line you can silence them separately.

[2022-01-24 10:13] #24 closed

[2022-01-24 13:46] #21 closed

[2022-05-09 09:44] 23pointsNorth opened #25 "Set invalid proposal in opt function"
In some functions, e.g. `f = 1/(x+y)`, there may be some complex variable interaction that is easy to confirm at runtime, which makes the optimization function undefined - e.g. `x=-y` in the above example.

It would be beneficial to mark the current variable setting as undefined and avoid evaluating it, without influencing the optimization. Right now we can detect those spaces and return `+/- np.i

[2022-05-09 10:49] SimonBlanke commented on #25
Hello @23pointsNorth,

if you want to return a value that shows, that the parameters result in an invalid score you could return np.nan.
GFO can handle np.nan (and np.inf) since version 0.2.11.

Does this solve your problem?

Bayesian optimization (and all other smbo) filter out np.inf and np.nan from the score-tracking-decorator:
https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/e7a955

[2022-05-09 11:06] 23pointsNorth commented on #25
That's great, I guess that's the one thing I hadn't checked.

From my small test, `np.nan` is handled ok (aka ignored) in all of the optimizers similar to the code you've linked to in smbo?

[2022-05-10 08:34] SimonBlanke commented on #25
Hello @23pointsNorth,

The code I have linked only works in smbo, but other optimization algorithms have a similar way of ignoring np.nan and np.inf if it is needed.

[2022-05-10 08:34] #25 closed

[2022-07-22 17:28] SimonBlanke commented on #3
I failed to recognize, that I already solved this issue some time ago.

I solved this problem with a combination of both solutions described before.

If the search-space is larger than 10000000 positions it gets reduced to this number by default. I selected this threshold, because an additional factor of 10 blows up the memory on my machine just by calculating all possible positions in the search

[2022-07-22 17:28] #3 closed

[2022-07-31 08:37] SimonBlanke opened #26 "Spiral Optimization"
In the upcoming v1.1 I will release the Spiral Optimization algorithm. An explanation and visualization can be found on [wikipedia](https://en.wikipedia.org/wiki/Spiral_optimization_algorithm).

The current source code of this new algorithm for Gradient-Free-Optimizers can be found on the [v1.1 branch](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/v1.1/gradient_free_optimizers/optim

[2022-07-31 09:04] SimonBlanke opened #27 "Lipschitz Optimizer"
In the upcoming v1.1 I will release the Lipschitz Optimizer. . An explanation and visualization can be found on [this blog](http://blog.dlib.net/2017/12/a-global-optimization-algorithm-worth.html).

The current source code of this new algorithm for Gradient-Free-Optimizers can be found on the [v1.1 branch](https://github.com/SimonBlanke/Gradient-Free-Optimizers/blob/v1.1/gradient_free_optimizers/o

[2022-07-31 09:20] SimonBlanke commented on #27
From the search-path you can see how the algorithm is mostly exploration at the moment:

![LipschitzOptimizer](https://user-images.githubusercontent.com/20640612/182019549-0318bf9f-e39f-47a4-8de6-d990a1386bd9.gif)

[2022-07-31 09:25] SimonBlanke commented on #26
Depending on the start configuration of positions the particles might stick to the edges of the search-space when attempting to spiral:

![SpiralOptimization](https://user-images.githubusercontent.com/20640612/182019794-7f2e099f-ae5f-4b32-aeb7-ba437a5395da.gif)

[2022-07-31 09:40] SimonBlanke commented on #8
Hello @djokester,

I was able to implement the direct search, based on the explanation [in this fantastic article](https://link.springer.com/article/10.1007/s10898-020-00952-6#:~:text=Introduced%20in%201993%2C%20the%20DIRECT,hyperparameter%20(the%20desired%20accuracy).). It was much easier to understand this algorithm after I understood and implemented the [Lipschitz Optimizer](https://github.com/

[2022-07-31 16:24] SimonBlanke opened #28 "Additional acquisition functions for sequence model-based optimization"
I looked into a way to add more acquisition functions for the sequence model-based optimization algorithms. In the current version 1.0 the only acquisition function is the expected improvement.

Since the xi-parameter is **specific to the expected improvement** and currently part of the Bayesian Optimizer API it will be necessary to introduce **breaking changes** to the API. The xi-parameter must

[2022-08-12 12:08] SimonBlanke commented on #26
I added some fixes for the rotation-matrix and added a decay-parameter to change the step-size (or more like: radius-factor) over time. In the following search-path-gif you can see what happens, when the decay-rate is >1. The particles start to spiral out after some time. Very interesting!

![SpiralOptimization](https://user-images.githubusercontent.com/20640612/184350448-734615bb-e274-49d8-817f-8

[2022-08-17 15:38] #27 closed

[2022-08-17 15:38] #26 closed

[2022-08-19 13:24] SimonBlanke opened #29 "Automatically increase number of initial positions if n_population increases"
The number of initial positions should be automatically increased if n_population increases. It will reduce the steps the user needs to take to change this parameter.

[2022-09-13 11:43] alex-hh opened #30 "Categorical distribution"
**Is your feature request related to a problem? Please describe.**
Hi, I really like the look of this library and am interested in using it in the context of optimization in discrete spaces (specifically spaces of protein sequences). A protein sequence is a sequence of length L letters drawn from a fixed-size alphabet of size K. i.e. a vector of L K-way categorical variables. The most natural way

[2022-09-13 14:22] SimonBlanke commented on #30
Hello @alex-hh,

thanks for opening this issue. Your problem sounds very interesting! I have never seen (or understood) this kind of optimization problem. Is the length L always the same or can it vary? Could you provide some more explanations how the search-space would look like?

If the length L would be fixed (for example 3), would it make sense, that the search-space looks like this?
[code]

I

[2022-09-13 14:51] alex-hh commented on #30
Exactly, yes. In general L could vary, but fixing L is a good starting point.

[2022-09-13 15:57] SimonBlanke commented on #30
Hello @alex-hh,

very good. Gradient-Free-Optimizers does only support numerical search-spaces (numpy arrays), but the python package [Hyperactive](https://github.com/SimonBlanke/Hyperactive) is build on top of Gradient-Free-Optimizers and supports numbers, strings and even functions in the search-space. It also has a lot of examples, that show how you can build the search-space.

If you have anot

[2022-09-13 16:26] alex-hh commented on #30
Thanks, my question wasn't actually about the search space construction, but about the 'distribution' parameter that is passed to optimisers.

I haven't completely understood how this works in the case of the existing distributions.

But my question is whether it is possible to use a categorical distribution to sample updated points within the search space.

The example of this in the case describ

[2022-09-14 19:36] SimonBlanke commented on #30
Okay, so the `distribution`-parameter is similar to a [numpy distribution](https://numpy.org/doc/1.16/reference/generated/numpy.random.normal.html#numpy.random.normal). Those distributions are continuous, but the GFO search-space is discrete. GFO automatically rounds the new position to the next integer.

I am not quite sure what you mean by:

You currently cannot pass your own distribution to the

[2022-09-14 20:04] alex-hh commented on #30
Right, so the behaviour I'd like to see is something like this:

Suppose I'm at a position in the search space and I want the next candidate position to evaluate to be sampled at random from the neighbours of the current position.

In the search space we discussed above, the neighbouring points might for example be all points which involve a single mutation, at any position, to the current sequenc

[2022-09-15 19:14] SimonBlanke commented on #30
Hello @alex-hh,

It really depends on how this looks like in code. Could you provide an example?  If this kind of sampling can be implemented as a function that takes the current position in a shape (numpy array) and returns a sample of the same shape. Then yes it would probably be easy. Maybe you could provide a wrapper-function for a categorical distribution that works like that.

I started usin

[2022-10-24 16:39] SimonBlanke commented on #29
this feature was released in v1.2

[2022-10-24 16:39] #29 closed

[2022-10-24 16:39] SimonBlanke commented on #8
this feature was released in v1.2

[2022-10-24 16:39] #8 closed

[2022-10-29 11:04] SimonBlanke opened #31 "Bug in DIRECT Search if search-space contains an array of length == 1"
Found in [recent test of v1.2](https://github.com/SimonBlanke/Gradient-Free-Optimizers/actions/runs/3351131282/jobs/5552380008).

[2022-11-06 09:55] SimonBlanke opened #32 "API changes for v2"
In this issue the progress for the API-changes for v2 is shown.

The objective-function parameter might make more sense in the optimizer-class instead of the `search`-method. Parameters in the method should be data you would want to change from one search to the next. It does not make sense to me to change the objective-function but not the search-space. So the new API-design would look like this:

[2022-11-06 10:08] SimonBlanke opened #33 "Add support for constrained optimization"
I want to add the support for constrained optimization. The interface design could look like this:

[code]

Implementing this in the optimization algorithms will need various solutions:
 - For hill-climbing based algorithms I could just repeat the iteration step if the new position is not inside the constrained search-space
 - Sequence-mode-based optimizers might be the easiest to implement, becau

[2022-11-23 16:29] SimonBlanke opened #35 "Tests fail in github actions but pass locally"
I never encountered any problems with those tests locally, but there are various tests that sometimes fail in github actions:

https://github.com/SimonBlanke/Gradient-Free-Optimizers/actions/runs/3509328464/attempts/1

https://github.com/SimonBlanke/Gradient-Free-Optimizers/actions/runs/3509328778/attempts/1

[2022-11-24 07:39] StHowling opened #36 "Support Keyword Arguments as non-optimizable parameters in the optimization goal function"
**Is your feature request related to a problem? Please describe.**

Hi, I came across this repository when I searched on Github for Hill Climbing optimization algorithm written in Python, to help determine the optimal weights of base classifiers in a customized ensemble machine learning model. I really appreciate the work you've done for implementing so many common optimizers with such a neat API.

[2022-11-24 16:04] SimonBlanke commented on #36
Hello @StHowling,

thank you for this detailed explanation! It was very helpful to understand your train of thought.

The solution for your problem cannot be found in Gradient-Free-Optimizers but in [Hyperactive](https://github.com/SimonBlanke/Hyperactive), which is build on top of Gradient-Free-Optimizers and is specialized on machine-learning optimization. The feature you require was requested i

[2022-11-25 01:36] StHowling commented on #36
Thanks for the explanation, I'll just change to use Hyperactive then.

[2022-11-25 01:36] #36 closed